<div class="container-fluid p-5">
    <div class="row">
        <div class="col">

            <form method="post" action="/contact">
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="nama" name="name" required/>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required/>
                  </div>
                  <div class="mb-3">
                    <label for="mobile" class="form-label">No HP</label>
                    <input type="number" class="form-control" id="mobile" name="mobile" required/>
                  </div>           
                  <button type="submit" class="btn btn-primary">Tambah Data</button>
            </form>

        </div>
    </div>
</div>